MaCoCu-sl-en.tmx
Macocu-sl-en.json
Macocu-sl-en-doc-format.csv
/artifacts
/wandb
data-preparation-for-KenLM/English-data-for-KenLM.txt
Macocu-sl-en-doc-format-filtered.csv
sample-corpus-filtered-predicted-test.csv
sample-prediction-test.csv
