MaCoCu-sl-en.tmx
Macocu-sl-en.json
Macocu-sl-en-doc-format.csv
/artifacts
/wandb
data-preparation-for-KenLM/English-data-for-KenLM.txt
Macocu-sl-en-doc-format-filtered.csv
sample-corpus-filtered-predicted-test.csv
sample-prediction-test.csv
batch-backup-predictions.json
nohup.out
Macocu-sl-en-predicted.csv
batch-backup-predictions.json
Macocu-is-en.json
MaCoCu-is-en.tmx
MaCoCu-is/Macocu-is-en-doc-format.csv
MaCoCu-is/Macocu-is-en-predicted.csv
MaCoCu-mt/Macocu-mt-en-doc-format-filtered.csv
MaCoCu-mt/Macocu-mt-en.json
MaCoCu-mt/Macocu-mt-en-predicted.csv
MaCoCu-mk/Macocu-mk-en-doc-format-filtered.csv
MaCoCu-mk/Macocu-mk-en-predicted.csv
MaCoCu-tr/MaCoCu-tr-en.tmx
MaCoCu-tr/Macocu-tr-en.json
6-Simplified-code.ipynb
MaCoCu-tr/Macocu-tr-en-doc-format-filtered.csv
MaCoCu-bg/Macocu-bg-en-doc-format-filtered.csv
MaCoCu-is/MaCoCu-is-en.json
MaCoCu-sl/MaCoCu-sl-en-predicted-sample-manual-analysis.csv
.gitignore
.gitignore
MaCoCu-tr/Macocu-tr-en-predicted.csv
.gitignore
.gitignore
MaCoCu-tr/Macocu-tr-en-predicted.csv-post-processed.csv
MaCoCu-bg/Macocu-bg-en-predicted-post-processed.csv
MaCoCu-bg/Macocu-bg-en-predicted.csv
MaCoCu-tr/Macocu-tr-en-predicted-post-processed.csv
MaCoCu-hr/Macocu-hr-en-doc-format-filtered.csv
MaCoCu-hr/Macocu-hr-en-doc-format.csv
MaCoCu-hr/MaCoCu-hr-en-predicted-analysis.txt
MaCoCu-hr/Macocu-hr-en-predicted-post-processed.csv
MaCoCu-hr/Macocu-hr-en-predicted.csv
